@use '../../../../../scss/utils' as *;
@use '../../../../../scss/base' as *;

.second-col-contact {
    .contact-form {
        @include grid-a-center;
        margin-bottom: 2rem;

        form {
            & > div {
                @include flex-center;
                align-items: start;
                gap: clamp(1rem, 3vw, 4rem);
                color: $clr-white;

                h6 {
                    margin-top: 0.5rem;
                    font-weight: weight('w-100');
                    color: $clr-gray;
                    font-size: size('medium-size');
                }

                div {
                    @include grid-a-center;
                    position: relative;
                    margin-bottom: 1rem;
                    gap: 0.6rem;

                    .feild-title {
                        position: relative;
                        font-size: clamp(
                            size('small-size'),
                            4vw,
                            size('big-size')
                        );
                    }

                    & > div {
                        @include grid-a-center;
                    }
                }
            }
        }

        .liny {
            width: 100%;
            height: 2px;
            background-color: $clr-border-light;
            margin-bottom: clamp(1rem, 3vw, 3rem);
        }

        input,
        textarea {
            font-family: $Inter;
            font-size: size('big-size')- 0.1rem;
            background-color: transparent;
            color: $clr-gray;
            border-radius: 5px;
            resize: none;
            border: none;
            outline: none;
            line-height: 1.2;
            width: clamp(250px, 40vw, 561px);

            &::placeholder {
                font-size: size('big-size')- 0.1rem;
            }

            &:focus::placeholder {
                transition: 0.3s ease;
                opacity: 0;
            }
        }

        input {
            height: 45px;
        }

        label {
            font-family: $Inter;
            color: $clr-white;
        }
    }

    .conatact-line {
        top: clamp(3.7rem, 10vw, 4.6rem);
    }
    .footer-btn {
        margin-top: -2rem;
    }
}
