/* ========================= Styleguide ® Code by Ahmed Ayob ================================================== */

/* ========================= Colors ================================================== */

$clr-black: #1c1d20;
$clr-black-dark: #141517;
$clr-white: #fff;
$clr-gray: #999d9e;
$clr-orange: #455ce9;
$clr-orange-dark: #334bd3;
// $clr-orange: #f38704;
// $clr-orange-dark: #df7e08;

$clr-border: rgba(28, 29, 32, 0.175);
$clr-border-solid: #d2d2d2;
$clr-border-light: #ffffff33;
$clr-border-solid-light: #545557;
$clr-border-dark: rgba(28, 29, 32, 0.175);

$clr-text: #1c1d20;
$clr-text-light: #fff;

$clr-blur: #ccc;

$alert-error: #ff4444;
$alert-success: #24c958;
