/* ========================= Styleguide ® Code by Ahmed Ayob ================================================== */

/* ========================= Colors ================================================== */

$clr-black: #1c1d20;
$clr-black-dark: #141517;
$clr-white: #fff;
$clr-gray: #999d9e;
$clr-orange: #455ce9;
$clr-orange-dark: #334bd3;
// $clr-orange: #f38704;
// $clr-orange-dark: #df7e08;

$clr-border: rgba(28, 29, 32, 0.175);
$clr-border-solid: #d2d2d2;
$clr-border-light: #ffffff33;
$clr-border-solid-light: #545557;
$clr-border-dark: rgba(28, 29, 32, 0.175);

$clr-text: #1c1d20;
$clr-text-light: #fff;

$clr-blur: #ccc;

$alert-error: #ff4444;
$alert-success: #24c958;

$arrOfColor: (
    1: rgb(72, 73, 74),
    3: rgb(126, 126, 126),
    2: rgb(216, 211, 205),
    4: rgb(16, 16, 16),
    5: rgb(54, 54, 55),
    6: rgb(220, 208, 194),
    7: rgb(177, 169, 148),
    8: rgb(55, 55, 55),
    9: rgb(194, 194, 194),
    10: rgb(228, 156, 74),
    11: rgb(98, 109, 110),
);

$arrOfImages: (
    1: "/src/assets/img/projects/proj1.png",
    2: "/src/assets/img/projects/proj2.png",
    3: "/src/assets/img/projects/proj3.png",
    4: "/src/assets/img/projects/proj4.png",
);

:root {
    --color-dark: #1c1d20;
    --color-dark-dark: #141517;
    --color-light: #ffffff;
    --color-blue: #455ce9;
    --color-blue-dark: #334bd3;
    --color-gray: #999d9e;
    --color-lightgray: #e9eaeb;
    --color-white: #ffffff;
    --color-border: rgba(28, 29, 32, 0.175);
    --color-border-solid: #d2d2d2;
    --color-border-light: rgba(255, 255, 255, 0.2);
    --color-border-solid-light: #545557;
    --color-text: #1c1d20;
    --color-text-light: #fff;
    --alert-error: #ff4444;
    --alert-success: #24c958;
    --animation-primary: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    --animation-fast: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    --animation-smooth: all 0.7s cubic-bezier(0.7, 0, 0.3, 1);
    --animation-slow: all 0.9s cubic-bezier(0.7, 0, 0.3, 1);
    --section-padding: clamp(5em, 21vh, 12em);
    --container-padding: clamp(2.5em, 8vw, 8em);
    --gap-padding: clamp(1.5em, 4vw, 2.5em);
}
