@use '../utils/colors' as *;
@use '../utils/mixins' as *;

:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    --x: 100%;
    --box1: 0.1em;
    --box2: -0.1em;

    @include mq(mq2) {
        --box1: 0.2em;
        --box2: -0.2em;
    }
}

@keyframes main-title {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(var(--x), 0);
    }
}

@keyframes circle1 {
    0% {
        border-radius: 50%;
        box-shadow: inset var(--box1) 0px 0px 0.08em $clr-white;
        width: 100%;
    }

    49% {
        border-radius: 50%;
        box-shadow: inset var(--box1) 0px 0px 0.08em $clr-white;
        background: transparent;
    }

    50% {
        border-radius: 0%;
        width: 0.175em;
        background: $clr-white;
    }

    51% {
        border-radius: 50%;
        box-shadow: inset var(--box2) 0px 0px 0.08em $clr-white;
        background: transparent;
    }

    100% {
        border-radius: 50%;
        box-shadow: inset var(--box2) 0px 0px 0.08em $clr-white;
        width: 100%;
    }
}

//
// @keyframes circle1 {
//     0% {
//         border-radius: 50%;
//         box-shadow: inset .1em 0px 0px .08em $clr-white;
//         width: 100%;
//     }
//
//     49% {
//         border-radius: 50%;
//         box-shadow: inset .1em 0px 0px .08em $clr-white;
//         background: transparent;
//     }
//
//     50% {
//         border-radius: 0%;
//         width: .175em;
//         background: $clr-white;
//     }
//
//     51% {
//         border-radius: 50%;
//         box-shadow: inset -.1em 0px 0px .08em $clr-white;
//         background: transparent;
//     }
//
//     100% {
//         border-radius: 50%;
//         box-shadow: inset -.1em 0px 0px .08em $clr-white;
//         width: 100%;
//     }
// }

@keyframes globe {
    0% {
        transform: translate(-50%, -50%) rotate(15deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(-15deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(15deg);
    }
}

@keyframes about-globe-backgournd-color-animation {
    0%,
    100% {
        background-color: $clr-orange;
    }

    40% {
        background-color: $alert-error;
    }

    80% {
        background-color: $alert-success;
    }
}

@keyframes revealtext {
    from {
        transform: translateX(-30%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes menu {
    to {
        // border-radius: 0 0 0 0 / 0 0 0 0;
        // border-radius: 25px;
        transform: translate(0, 0) rotate(0.001deg);
        // pointer-events: all;
    }
}

.animate__rubberBand {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}

@media print, (prefers-reduced-motion: reduce) {
    .animate__animated {
        -webkit-animation-duration: 1ms !important;
        animation-duration: 1ms !important;
        -webkit-transition-duration: 1ms !important;
        transition-duration: 1ms !important;
        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important;
    }

    .animate__animated[class*='Out'] {
        opacity: 0;
    }
}

@keyframes backTop {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, -4px);
    }
    100% {
        transform: translate(0, 0px);
    }
}
