@use "./colors" as c;

@mixin display(
  $display: "flex",
  $align-items: "initial",
  $justify-content: "initial"
) {
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin border {
  -webkit-box-shadow: inset 0px 0px 0px 1px c.$clr-border-light;
  box-shadow: inset 0px 0px 0px 1px c.$clr-border-light;
}

@mixin magnaticButton {
  font-size: 1rem;
  font-weight: weight("w-400");
  will-change: transform;
  transform: translateZ(0) rotate(0.001deg);
  text-align: center;
  outline: none;
  border: none;
  background: none;
  transform-style: preserve-3d;
  cursor: pointer;
  overflow: hidden;
  background: c.$clr-black;
  color: c.$clr-white;

  & > * {
    pointer-events: none;
  }
}

@mixin section {
  padding-top: clamp(4.5rem, 10vw, 8.5rem);
  padding-bottom: clamp(1.5rem, 10vw, 8.5rem);
}

@mixin letter-flex {
  display: flex;
  align-items: center;
  position: relative;
  letter-spacing: -1.5px;
}

@mixin container {
  max-width: 1150px;
  margin-left: clamp(1rem, 4vw, 4.5rem);
  margin-right: clamp(1rem, 4vw, 4.5rem);

  @include mq(mq3) {
    margin-inline: 2rem;
  }

  @include mq(mq5y) {
    margin-inline: auto;
  }
}

@mixin mq($query) {
  @if $query ==mq1 {
    @media (min-width: 329px) {
      @content;
    }
  }

  @if $query ==mq1fold {
    @media (max-width: 280px) {
      @content;
    }
  }

  @if $query ==mqxslider {
    @media (min-width: 371px) {
      @content;
    }
  }

  @if $query ==mqyslider {
    @media (min-width: 500px) {
      @content;
    }
  }

  @if $query ==mq2 {
    @media (min-width: 556px) {
      @content;
    }
  }

  @if $query ==mqzslider {
    @media (min-width: 620px) {
      @content;
    }
  }

  @if $query ==mqaslider {
    @media (min-width: 700px) {
      @content;
    }
  } @else if $query ==mq3 {
    @media (min-width: 767px) {
      @content;
    }
  } @else if $query ==mq3slider {
    @media (min-width: 850px) {
      @content;
    }
  } @else if $query ==mq3x {
    @media (min-width: 975px) {
      @content;
    }
  } @else if $query ==mq4 {
    @media (min-width: 1023px) {
      @content;
    }
  } @else if $query ==mq5 {
    @media (min-width: 1040px) {
      @content;
    }
  } @else if $query ==mq5x {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $query ==mq5y {
    @media (min-width: 1350px) {
      @content;
    }
  } @else if $query ==mq6 {
    @media (min-width: 1496px) {
      @content;
    }
  } @else if $query ==mq7 {
    @media (min-width: 2500px) {
      @content;
    }
  }
}
