@use "./colors" as c;

@mixin display(
  $display: "flex",
  $align-items: "initial",
  $justify-content: "initial"
) {
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin border {
  -webkit-box-shadow: inset 0px 0px 0px 1px var(--color-border);
  box-shadow: inset 0px 0px 0px 1px var(--color-border);
}

@mixin magnaticButton {
  font-size: 1rem;
  font-weight: weight("w-450");
  will-change: transform;
  transform: translateZ(0) rotate(0.001deg);
  text-align: center;
  outline: none;
  border: none;
  background: none;
  transform-style: preserve-3d;
  cursor: pointer;
  overflow: hidden;
  background: var(--color-dark);
  color: var(--color-white);

  & > * {
    pointer-events: none;
  }
}

@mixin floatImage($class) {
  @each $index, $color in c.$arrOfColor {
    &:nth-child(#{$index}) {
      background-color: $color;
    }
  }

  @each $index, $image in c.$arrOfImages {
    &:nth-child(#{$index}) #{$class} {
      width: clamp(10em, 27.5vw, 24em);
      height: 290px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url($image);
    }
  }
}

@mixin count {
  display: inline-block;
  position: absolute;
  margin-left: 0.25em;
  opacity: 0.6;
  font-size: 0.7em;
  transform: translate(20%, -15%);
  width: 0;
  top: 0;
  right: -0.2em;
}

@mixin sectionTitle {
  font-size: clamp(2.5rem, 1.731707317073171rem + 4.390243902439024vw, 7rem);
  font-weight: 450;
  text-transform: capitalize;
  line-height: 1.065;
  margin-block: clamp(3rem, 14vw, 6rem) clamp(3rem, 14vw, 4rem);
  max-width: 1003px;
}

@mixin section {
  padding-block: var(--section-padding);
}

@mixin letter-flex {
  display: flex;
  align-items: center;
  position: relative;
  letter-spacing: -1.5px;
}

@mixin container {
  padding-inline: calc(var(--container-padding) * 0.4);
  margin-inline: auto;
  max-width: clamp(17.5rem, 0rem + 100vw, 80.625rem);

  @include mq(mq6) {
    padding-inline: 0;
  }
}

@mixin mq($query) {
  @if $query ==mq1 {
    @media (min-width: 329px) {
      @content;
    }
  }

  @if $query ==mq1fold {
    @media (max-width: 280px) {
      @content;
    }
  }

  @if $query ==mqxslider {
    @media (min-width: 371px) {
      @content;
    }
  }

  @if $query ==mqyslider {
    @media (min-width: 500px) {
      @content;
    }
  }

  @if $query ==mq2 {
    @media (min-width: 556px) {
      @content;
    }
  }

  @if $query ==mqzslider {
    @media (min-width: 620px) {
      @content;
    }
  }

  @if $query ==mqaslider {
    @media (min-width: 700px) {
      @content;
    }
  } @else if $query ==mq3 {
    @media (min-width: 767px) {
      @content;
    }
  } @else if $query ==mq3slider {
    @media (min-width: 850px) {
      @content;
    }
  } @else if $query ==mq3x {
    @media (min-width: 975px) {
      @content;
    }
  } @else if $query ==mq4 {
    @media (min-width: 1023px) {
      @content;
    }
  } @else if $query ==mq5 {
    @media (min-width: 1040px) {
      @content;
    }
  } @else if $query ==mq5x {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $query ==mq5y {
    @media (min-width: 1350px) {
      @content;
    }
  } @else if $query ==mq6 {
    @media (min-width: 1496px) {
      @content;
    }
  } @else if $query ==mq7 {
    @media (min-width: 2500px) {
      @content;
    }
  }
}