@use '../../utils' as *;
@use '../../base' as *;

.loading-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 800;
    pointer-events: none;
    background: transparent;

    .loading-screen {
        position: relative;
        padding: 0;
        width: 100%;
        height: 100%;
        left: 0;
        will-change: top;
        background-color: var(--color-dark);
        top: calc(-100%);

        .rounded-div-wrap {
            width: 100%;
            top: 0;
            position: relative;
            overflow: hidden;

            &.top {
                top: 0;
                position: absolute;
                transform: translateY(-99%) scale(1, -1);
                z-index: 2;
                will-change: height;
            }

            &.bottom {
                top: unset;
                bottom: 0;
                position: absolute;
                transform: translateY(99%);
                z-index: 2;
                will-change: height;
            }

            .rounded-div {
                width: 150%;
                content: '';
                display: block;
                position: absolute;
                height: 750%;
                left: 50%;
                border-radius: 50%;
                transform: translate(-50%, -86.666%);
                z-index: 1;
                background-color: var(--color-dark);
            }
        }

        .loading-words {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            pointer-events: none;
            display: block;
            will-change: opacity;

            h2 {
                color: $clr-white;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                display: none;
                padding-left: 0.6em;
                white-space: nowrap;
                padding-right: 0.4em;
                font-size: calc(size('gaint-size') + 1rem);
                font-weight: weight(w-400);
                will-change: opacity;

                .dot {
                    display: block;
                    position: absolute;
                    border-radius: 50%;
                    background: $clr-white;
                    left: 0;
                    top: 47%;
                    bottom: auto;
                    width: calc(clamp(9px, 1.2vw, 12px));
                    height: calc(clamp(9px, 1.2vw, 12px));
                    transform: translate(0, 0) scale(1);
                }
            }

            .active {
                display: block;
            }
        }
    }
}
