@use '../utils/mixins' as *;

$Roboto: 'Ahmed Sans', sans-serif;
$Poppins: 'Poppins', sans-serif;
$Inter: 'Inter', sans-serif;

/*========== Font and typography ==========*/
$sizes: (
    'gaint-size': 2.1875rem,
    'big-size': 1.325rem,
    'titles-size': 1.125rem,
    'medium-size': 0.9375rem,
    'paragrph-size': 0.8125rem,
    'small-size': 0.75rem,
);

// @include mq(mq2) {}

// @include mq(mq3) {}

/*========== Font weight ==========*/
$weights: (
    'w-200': 200,
    'w-300': 300,
    'w-400': 400,
    'w-500': 500,
    'w-600': 600,
    'w-700': 700,
    'w-800': 800,
    'w-900': 900,
);
