@use "../../utils" as *;
@use "../../base" as *;

.card {
  transform-style: preserve-3d;
  position: relative;
  scroll-snap-align: center;
  width: 240px;
  padding: 0.7rem 0.7rem 0.8rem;
  margin-bottom: 1rem;
  border-radius: 9px;
  transition: all 0.4s ease-in-out;
  background-color: $clr-black;
  cursor: pointer;

  @include mq(mq1) {
    width: 260px;
    height: 319px;
  }

  @include mq(mq2) {
    width: 250px;
    scale: 0.9;
  }

  @include mq(mqzslider) {
    width: auto;
  }

  @include mq(mqaslider) {
    width: 300px;
    scale: 1;
  }

  @include mq(mq3) {
    width: 240px;
    scale: 0.9;
  }

  @include mq(mq3slider) {
    scale: 1;
  }

  @include mq(mq4) {
    width: 333px;
  }

  @include mq(mq5) {
    height: 360px;
  }

  .card-img {
    position: relative;
    height: 126.67px;
    margin-bottom: 0.5rem;

    img {
      position: absolute;
      background-size: 170%;
      border-radius: 9px;
      z-index: 10;

      @include mq(mq1) {
        height: 130%;
      }

      @include mq(mq5) {
        height: 150%;
      }
    }
  }

  .card-info {
    @include display(grid, center);
    margin-inline-start: 0.5rem;
    row-gap: 0.4rem;
    color: $clr-white;
    overflow: hidden;

    @include mq(mq1) {
      margin-top: clamp(3.3rem, 6vw, 4.8rem);
    }

    h3 {
      position: relative;
      line-height: 1.6rem;
      font-size: clamp(
        calc(size("titles-size") - 0.1rem),
        5vw,
        calc(size("big-size") + 0.1rem)
      );
      font-weight: weight("w-500");
    }

    p {
      line-height: 1.3rem;
      font-size: clamp(0.85rem, 3vw, 0.9375rem);
      font-weight: weight("w-300");
      margin-bottom: 1rem;
    }
  }
  .card-arrow {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 25px;
    height: 25px;
    fill: $clr-white;
  }
}
