@use "../../utils" as *;
@use "../../base" as *;

.card {
  transform-style: preserve-3d;
  position: relative;
  scroll-snap-align: center;
  width: 288px;
  padding: 0.7rem 0.7rem 0.8rem;
  border-radius: 9px;
  transition: all 0.4s ease-in-out;
  background-color: $clr-black;
  cursor: pointer;

  @include mq(mq3) {
    width: 326px;
    scroll-snap-align: start;
  }
  @include mq(mq4) {
    width: 285px;
    height: 380px;
  }

  @include mq(mq5y) {
    width: 365px;
    height: 380px;
  }

  .card-img {
    position: relative;
    height: 205px;
    margin-bottom: 0.5rem;

    img {
      position: absolute;
      background-size: 170%;
      border-radius: 9px;
      z-index: 10;
    }
  }

  .card-info {
    @include display(grid, center);
    margin-inline-start: 0.5rem;
    row-gap: 0.4rem;
    color: $clr-white;
    overflow: hidden;

    @include mq(mq5y) {
      margin-top: clamp(3.3rem, 6vw, 3rem);
    }

    h3 {
      position: relative;
      line-height: 1.6rem;
      font-size: clamp(
        calc(size("titles-size") - 0.1rem),
        5vw,
        calc(size("big-size") + 0.1rem)
      );
      font-weight: weight("w-530");
    }

    p {
      line-height: 1.3rem;
      font-size: clamp(0.85rem, 3vw, 0.9375rem);
      font-weight: weight("w-300");
      margin-bottom: 1rem;
    }
  }
  .card-arrow {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 25px;
    height: 25px;
    fill: $clr-white;
  }
}
