@use "../../utils" as *;
@use "../../base" as *;

.card-slider {
  @include display(grid, center);
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  height: 350px;
  gap: 1.5rem;
  gap: 2rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-arrow-color: transparent;
  user-select: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include mq(mq1) {
    height: 420px;
  }

  @include mq(mq2) {
    grid-auto-columns: calc((100% / 2));
  }
  @include mq(mq4) {
    grid-auto-columns: calc((100% / 3));
    gap: 1rem;
  }
  

  .card-wrapper {
    height: fit-content;
  }
}
