@use '../../utils' as *;
@use '../../base' as *;

.slider-navigation {
    @include flex-center-center;
    gap: 1rem;
    position: absolute;
    height: 50px;
    bottom: 6rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: $clr-white;

    @include mq(mq1) {
        bottom: 7em;
        gap: 1.5rem;
    }

    @include mq(mq4) {
        bottom: 8rem;
        gap: 1.5rem;
    }

    @include mq(mq4) {
        bottom: 6rem;
        gap: 1.5rem;
        height: 100px;
    }

    @include mq(mq5) {
        gap: 2rem;
    }

    @include mq(mq6) {
        bottom: 6rem;
    }

    .nav-left,
    .nav-right {
        @include grid-place-center;

        width: 35px;
        height: 35px;
        border-radius: 18%;
        background-color: $clr-black;
        cursor: pointer;

        @include mq(mq4) {
            scale: 1.2;
        }

        svg {
            pointer-events: none;
            fill: $clr-white;
        }
    }
}
