@use "../../../../scss/utils" as *;
@use "../../../../scss/base" as *;

.contact-hero-section {
  background-color: $clr-black;

  .contact-hero-container {
    position: relative;
    @include section;
    @include container;
    display: grid;

    .first-col-contact,
    .second-col,
    .third-col {
      padding-block: 2rem;
    }

    .cols-wrapper {
      @include display(grid, center);
      grid-template-columns: 1fr;
      margin-top: clamp(2rem, 4vw, 4rem);
      gap: 8vw;
      @include mq(mq3) {
        grid-template-columns: 2fr 1fr;
      }

      .second-col {
        padding-top: 0;
      }
    }
  }
}
