@use "../../../../base" as *;
@use "../../../../utils" as *;

.hero-section {
  background-color: var(--color-gray);

  .hero-container {
    position: relative;

    .hero-img {
      display: inline-block;
      height: 110vh;
      width: 100%;
      overflow: hidden;

      img {
        height: 110vh;
        object-fit: cover;

        @include mq(mq5) {
          object-fit: contain;
        }
      }
    }

    .hero-text {
      @include display(flex, flex-end, space-between);
      @include container;
      position: absolute;
      bottom: 16%;
      left: 0;
      right: 0;
      color: var(--color-white);
      margin-inline: 0;
      

      @include mq(mq5y) {
        margin: 0 auto;
      }


      h1 {
        font-size: clamp(1.2875rem, 7vw, 4.788rem);
        margin-top: clamp(1.5rem, 4vw, 5rem);

        & > * {
          pointer-events: none;
        }

        p {
          line-height: 1.4;
        }
      }

      .home-arrow {
        width: clamp(25px, 7vw, 90px);
      }
    }
  }
}
