@use "../../../../base" as *;
@use "../../../../utils" as *;

.works-section {
  @include section;



  .works-container {
    position: relative;
    @include container;
    display: grid;


    h2 {
      font-weight: weight("w-530");
      justify-self: center;
      margin-bottom: 1rem;

      div {
        font-size: clamp(
          calc(size("gaint-size") - 0.5rem),
          6.5vw,
          size("gaint-size") + 0.5rem
        );
      }

      // @include mq(mq3) {
      //   font-size: clamp(size("big-size") + 0.2rem, 4vw, size("gaint-size"));
      // }
    }

    .works-button-wrapper {
      justify-self: center;

      .works-btn {
        position: relative;
        padding-inline: 2.5rem;
        margin-top: 5rem;
        background-color: var(--color-white);

        .btn-text {
          display: flex;
          color: var(--color-dark);

          sup {
            font-size: 0.8rem;
            margin-top: -0.3rem;
          }
        }
      }
    }
  }
}
