@use "../../../../base" as *;
@use "../../../../utils" as *;

.works-section {
  @include section;

  .works-container {
    position: relative;
    @include container;
    display: grid;

    @include mq(mq2) {
      margin-left: 2.5rem;
      margin-right: 2.5rem;
    }

    @include mq(mq5) {
      margin-left: auto;
      margin-right: auto;
    }

    h2 {
      font-weight: weight("w-500");
      justify-self: center;

      @include mq(mq3) {
        font-size: clamp(size("big-size") + 0.2rem, 4vw, size("gaint-size"));
      }
    }

    .works-button-wrapper {
      justify-self: center;

      .works-btn {
        position: relative;
        padding-inline: 2.5rem;
        margin-top: 4rem;
        -webkit-box-shadow: inset 0px 0px 0px 2px rgba(28, 29, 32, 0.175);
        box-shadow: inset 0px 0px 0px 2px rgba(28, 29, 32, 0.175);
        background-color: $clr-white;

        .btn-text {
          display: flex;
          color: $clr-black;

          sup {
            font-size: 0.8rem;
            margin-top: -0.3rem;
          }
        }
      }
    }
  }
}
