@use '../../../../scss/utils' as *;
@use '../../../../scss/base' as *;

.about-hero-section {

    .about-hero-container {
        position: relative;
        @include section;
        @include container;
        display: grid;
        gap: 4rem;
        padding-bottom: 2rem;

        // .first-col,
        // .second-col,
        // .third-col {
        //     // padding-block: 2rem;
        // }
    }
}
