@use "../../../../../scss/utils" as *;
@use "../../../../../scss/base" as *;

.third-col-about {
  @include display(grid);
  place-content: center;
  gap: 1rem;

  @include mq(mqyslider) {
    font-size: size("big-size");
    margin-top: 3rem;
  }

  @include mq(mq5) {
    @include display(grid, center, center);
    padding-block: 0 7rem;
  }

  div {
    @include display(grid, center);

    gap: 1.5rem;

    h2,
    p {
      overflow: hidden;
    }

    p {
      line-height: 1.3rem;
      font-size: clamp(size("medium-size"), 4vw, size("titles-size"));
    }
  }

  img {
    justify-self: center;
    display: block;
    width: 75%;
  }
}
