@use "../../../base" as *;
@use "../../../utils" as *;

.btn-text {
  color: var(--color-white);

  a {
    color: var(--color-white);
  }
}

.btn-radius {
  @include magnaticButton;
  width: clamp(120px, 18vw, 200px);
  height: clamp(120px, 18vw, 200px);
  border-radius: 50%;
}

.btn-solid-horizon {
  @include magnaticButton;
  @include border;
  padding-inline: clamp(2.5rem, 8vw, 4rem);
  padding-block: clamp(0.5rem, 5vw, 1.8rem);
  border-radius: 6.25rem;
  
}
