@use "../../../base" as *;
@use "../../../utils" as *;

.btn-text {
  display: grid;
  outline: none;
  border: none;
  background: none;

  font-family: $Inter;
  font-size: clamp(
    0.75rem,
    0.6485294117647059rem + 0.5637254901960783vw,
    1.325rem
  );
  font-weight: weight("w-400");

  color: $clr-white;
  will-change: transform;
  transform-style: preserve-3d;
  transform: translateZ(0) rotate(0.001deg);
  cursor: pointer;

  a {
    color: $clr-white;
  }
}

.btn-radius {
  display: inline-block;
  outline: none;
  border: none;
  width: clamp(120px, 18vw, 200px);
  height: clamp(120px, 18vw, 200px);
  transform: translateZ(0) rotate(0.001deg);

  font-family: $Inter;
  font-size: clamp(
    0.75rem,
    0.6485294117647059rem + 0.5637254901960783vw,
    1.325rem
  );
  background: $clr-black;
  color: $clr-white;

  border-radius: 50%;
  will-change: transform;
  cursor: pointer;
  overflow: hidden;
  transform-style: preserve-3d;

  & > * {
    pointer-events: none;
  }
}

.btn-solid-horizon {
  outline: none;
  border: 1px solid $clr-border-light;
  width: fit-content;
  height: fit-content;
  padding-inline: clamp(2.5rem, 8vw, 4rem);
  padding-block: clamp(0.5rem, 5vw, 1.1rem);
  transform: translateZ(0) rotate(0.001deg);

  font-family: $Inter;
  font-size: clamp(
    0.75rem,
    0.6485294117647059rem + 0.5637254901960783vw,
    1.325rem
  );
  background: $clr-black;
  color: $clr-white;

  border-radius: 6.25rem;
  will-change: transform;
  cursor: pointer;
  overflow: hidden;
  transform-style: preserve-3d;

  & > * {
    pointer-events: none;
  }

  text-align: center;
  margin-bottom: 1rem;
}
