@use "../../../utils" as *;
@use "../../../base" as *;

.third-col {
  @include display(flex, center);
  flex-wrap: wrap;
  gap: clamp(0rem, 4vw, 2rem);
  
  
  .footer-btn-wrapper-contact {
    margin-block: 2rem 6rem;
   @include display(flex);
   
    .contact-btn {
      -webkit-box-shadow: inset 0px 0px 0px 1px var(--color-border-light);
      box-shadow: inset 0px 0px 0px 1px var(--color-border-light);
    }
  }
}

.footer-btn-fix {
  place-self: end;
}
