@use "../../../utils" as *;
@use "../../../base" as *;

.forth-col {
  @include display(flex, center, space-between);
  flex-wrap: wrap;
  gap: clamp(0rem, 3vw, 1rem);

  &.footer-Page {
    background-color: $clr-black;
  }

  .flex-footer {
    @include display(flex, center, space-between);
    margin-top: 0.5rem;
    gap: clamp(0rem, 30vw, 6rem);
  }

  .first-row {
    .social-link {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        inset: auto 0 0 0;
        margin: 0 auto;
        transform-origin: right;
        background-color: $clr-white;
        transition: 0.3s ease-in-out;
      }

      &:hover::after {
        width: 100%;
      }
    }

    div {
      @include display(flex, center);

      gap: 2rem;

      svg {
        width: clamp((size("gaint-size") - 0.5rem), 8vw, (size("gaint-size")));
        height: clamp((size("gaint-size") - 0.5rem), 8vw, (size("gaint-size")));
        fill: $clr-white;
        pointer-events: none;
      }
    }

    h3 {
      font-size: clamp(
        (size("small-size") - 0.1rem),
        4vw,
        calc(size("titles-size") - 0.2rem)
      );
      color: $clr-gray;
      margin-bottom: clamp(0.5rem, 4vw, 1.5rem);
    }

    p {
      color: $clr-white;
      font-size: clamp(
        size("paragrph-size"),
        4vw,
        calc(size("big-size") - 0.2rem)
      );
    }
  }
}
