@use '../../../utils' as *;
@use '../../../base' as *;

.third-col {
    @include flex-center;
    flex-wrap: wrap;
    gap: clamp(0rem, 4vw, 16.2rem);
    margin-block: 2rem;
}

.footer-btn-fix {
    place-self: end;
}
