@use '../../../utils' as *;
@use '../../../base' as *;

.second-col {
    position: relative;
    @include grid-a-center;

    .footer-btn {
        display: grid;
        place-content: center;
        place-self: end;
        background-color: $clr-orange-dark;
        margin-right: 1rem;
    }

    svg {
        position: absolute;
    }

    .line {
        position: absolute;
        top: clamp(3.7rem, 10vw, 6rem);
        width: 100%;
        height: max(2px, 3px);
        background-color: $clr-border-light;
    }

    .footer-arrow {
        right: 0;
        top: (clamp(-5rem, 21vw, -7rem));
        right: (clamp(1rem, 8vw, 1.5rem));

        width: (clamp(1.5rem, 4vw, 2.5rem));
        height: (clamp(1.5rem, 4vw, 2.5rem));

        @include mq(mq7) {
            top: -8rem;
            width: 70px;
            height: 70px;
        }
    }
}
