@use "../../utils" as *;
@use "../../base" as *;

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: -4rem;
  z-index: 2;


  .header-container {
    @include container;
    @include display(flex, center, space-between);
    height: clamp(5rem, 4.8rem + 1vw, 6rem);


  }
}

.white-header {
  background-color: $clr-white;

  .header-container {
    .logo {
      p {
        color: $clr-black;
      }

      .mark-img {
        fill: $clr-black;
      }
    }

    .menu {
      color: $clr-black;

      &::after {
        background-color: $clr-black;
      }
    }
  }
}

.black-header {
  background-color: $clr-black;

  .header-container {
    .logo {
      p {
        color: $clr-white;
      }

      .mark-img {
        fill: $clr-white;
      }
    }

    .menu {
      color: $clr-black;

      &::after {
        background-color: $clr-black;
      }
    }
  }
}
