@use "../../utils" as *;
@use "../../base" as *;

.logo {
  & > div {
    @include flex-center;
    white-space: nowrap;
    transition: 0.5s ease-in-out;

    .logo-text-wrapper {
      width: clamp(113px, 22vw, 143px);
      overflow: hidden;
      transition: 0.7s ease-in-out;
      width: clamp(
        7.0625rem,
        6.014705882352941rem + 5.821078431372549vw,
        13rem
      );
      // @include mq(mq1) {
      //   width: 180px;
      // }
      // @include mq(mq6) {
      //   width: 208px;
      // }

      .logo-text {
        width: fit-content;
        font-size: clamp(
          0.925rem,
          0.7838235294117648rem + 0.7843137254901961vw,
          1.725rem
        );
        transition: 0.7s ease-in-out;
      }
    }

    .mark {
      @include flex-center;
      padding: 0.1rem;
      z-index: 10;

      .mark-img {
        width: clamp(18px, 4vw, 27px);
        height: clamp(18px, 4vw, 27px);
        margin-bottom: -0.15rem;
        transition: 0.4s ease-out;
      }
    }
  }

  &:hover {
    & > div {
      .logo-text-wrapper {
        width: clamp(146px, 22vw, 171px);

        .logo-text {
          transform: translateX(-40%);
        }

        @include mq(mq6) {
          width: 220px;

          .logo-text {
            transform: translateX(-40%);
          }
        }
      }
      .mark-img {
        transform: rotate(360deg);
      }
    }
  }
}
