@use '../../utils' as *;
@use '../../base' as *;

.logo {
  & > div {
    @include display(flex, center);
    white-space: nowrap;
    transition: 0.5s ease-in-out;

    .logo-text-wrapper {
      overflow: hidden;
      transition: 0.7s ease-in-out;
      width: clamp(6.5rem, 5.014705882352941rem + 6.1078431372549vw, 12.8rem);

      .logo-text {
        width: fit-content;
        font-size: clamp(
          0.925rem,
          0.7838235294117648rem + 0.7843137254901961vw,
          1.725rem
        );
        transition: 0.7s ease-in-out;
      }
    }

    .mark {
      @include display(flex, center);
      padding: 0.1rem;
      z-index: 10;

      .mark-img {
        width: clamp(18px, 4vw, 29px);
        height: clamp(18px, 4vw, 29px);
        margin-bottom: -0.15rem;
        transition: 0.4s ease-out;
      }
    }
  }

  &:hover {
    & > div {
      .logo-text-wrapper {
        width: clamp(146px, 22vw, 171px);

        .logo-text {
          transform: translateX(-40%);
        }

        @include mq(mq6) {
          width: 220px;

          .logo-text {
            transform: translateX(-40%);
          }
        }
      }

      .mark-img {
        transform: rotate(-360deg);
      }
    }
  }
}
