@use '../../utils' as *;
@use '../../base' as *;

.logo {
    & > div {
        @include flex-center;
        white-space: nowrap;
        // overflow: hidden;
        transition: 0.5s ease-in-out;

        .logo-text-wrapper {
            width: clamp(130px, 22vw, 173px);
            overflow: hidden;
            transition: 0.7s ease-in-out;

            @include mq(mq6) {
                width: 275px;
            }

            .logo-text {
                width: fit-content;
                font-size: clamp(
                    size('titles-size') - .7rem,
                    1.7vw,
                    size('gaint-size')
                );
                transition: 0.7s ease-in-out;
            }
        }

        .mark {
            @include flex-center;
            padding: 0.1rem;
            z-index: 10;

            .mark-img {
                width: clamp(18px, 4vw, 24px);
                height: clamp(18px, 4vw, 24px);
                margin-bottom: -0.15rem;
                transition: 0.4s ease-out;

                @include mq(mq6) {
                    width: 33px;
                    height: 33px;
                }
            }
        }
    }

    &:hover {
        & > div {
            .logo-text-wrapper {
                width: clamp(146px, 22vw, 171px);

                .logo-text {
                    transform: translateX(-40%);
                }

                @include mq(mq6) {
                    width: 220px;

                    .logo-text {
                        transform: translateX(-40%);
                    }
                }
            }
            .mark-img {
                transform: rotate(360deg);
            }
        }
    }
}
