@use '../../utils' as *;
@use '../../base' as *;

.mobile-menu {
    font-size: clamp(size('titles-size'), 1.7vw, size('gaint-size'));

    &::after {
        position: absolute;
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $clr-white;
        left: -10px;
        bottom: 35%;

        @include mq(mq3) {
            width: 8px;
            height: 8px;
            left: -13px;
        }
    }

    @include mq(mq4) {
        display: none;
    }
}
