@use '../../../../../scss/utils' as *;
@use '../../../../../scss/base' as *;

.first-col-works {
    .main-title {
        font-size: clamp(
            size('medium-size'),
            4.5vw,
            size('gaint-size') + 0.5rem
        );
        font-weight: weight('w-500');
        line-height: 1.5;
        text-transform: capitalize;
        margin-block: clamp(3rem, 14vw, 8rem) clamp(3rem, 14vw, 6rem);

        br {
            display: none;

            @include mq(mq1) {
                display: block;
            }
        }
    }
}
