@use "../../../../../scss/utils" as *;
@use "../../../../../scss/base" as *;

.first-col-works {
  .main-title {
    font-size: 7rem;
    font-weight: weight("w-450");
    text-transform: capitalize;
    line-height: 1.065;
    margin-block: clamp(3rem, 14vw, 6rem) clamp(3rem, 14vw, 4rem);

    br {
      display: none;

      @include mq(mq1) {
        display: block;
      }
    }
  }
}
