@use "../../base" as *;
@use "../../utils" as *;

.header-desktop-menu {
  display: none;
  gap: 3rem;
  margin-bottom: -14px;

  @include mq(mq4) {
    @include display(flex, center, center);
  }

  li {
    display: none;
    justify-content: center;

    @include mq(mq4) {
      @include display(grid);
      place-content: center;
    }

    a {
      display: grid;
      font-size: clamp(
        size("titles-size"),
        1.7vw,
        calc(size("big-size") + 0.4rem)
      );

      .dot {
        justify-self: center;
        width: 8px;
        height: 8px;
        background-color: $clr-white;
        border-radius: 50%;
        margin-top: 0.3rem;
        opacity: 0;
        scale: 0.5;
        transition: 0.3s ease-out;
      }

      &:hover .dot {
        opacity: 1;
        scale: 1;
      }

      &.show {
        .dot {
          opacity: 1;
          scale: 1;
        }
      }
    }
  }
}

.black-header .header-desktop-menu {
  li {
    a {
      color: $clr-white;

      .dot {
        background-color: $clr-white;
      }
    }
  }
}

.white-header .header-desktop-menu {
  li {
    a {
      color: $clr-black;

      .dot {
        background-color: $clr-black;
      }
    }
  }
}
