@use '../../base' as *;
@use '../../utils' as *;

.menu-slide {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: $clr-black;
    z-index: 100;
    transform: translate(calc(100% + 25vw), 0) rotate(0.001deg);
    transition: transform 0.8s cubic-bezier(0.7, 0, 0.2, 1);
    will-change: transform;
    // overflow: hidden;

    @include mq(mq2) {
        width: 70%;
    }

    @include mq(mq4) {
        width: 40%;
    }

    &.active {
        transform: translate(0, 0) rotate(0.001deg);

        .header-menu-rounded-shape .rounded-div-wrap {
            width: 0;
        }

        .menu-shapes-wrapper {
            opacity: 1;
            transition-delay: 0.5s;

            &:hover {
                transition-delay: 0;
            }
        }
    }

    .menu-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 15vh 7.5vw 10vh 7.5vw;
        position: relative;
        transform: translate(0, 0) rotate(0.001deg);
        transition: all 0.6s cubic-bezier(0.7, 0, 0.2, 1);
        will-change: transform;
        transition-delay: 0s;
        z-index: 100;

        .nav-title {
            padding-bottom: 1rem;
            border-bottom: 1px solid $clr-border-solid-light;
        }

        .social-title {
            padding-block: 1rem;
            border-top: 1px solid $clr-border-solid-light;
        }

        .small-title {
            font-size: size('small-size');
            font-weight: weight('w-400');
            color: $clr-gray;
            margin-bottom: 0.5rem;

            @include mq(mq3) {
                font-size: size('titles-size');
                margin-bottom: 1.5rem;
            }
        }

        .nav-menu {
            margin-bottom: 2rem;

            display: grid;
            row-gap: 1rem;

            .menu-list {
                .list-link {
                    display: inline-block;
                    position: relative;
                    padding: 0.5rem;
                    font-size: clamp(
                        calc(size('medium-size')),
                        12vw,
                        calc(size('gaint-size') + 1rem)
                    );
                    font-weight: weight('w-500');
                    color: $clr-white;

                    &:before {
                        position: absolute;
                        content: '';
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        bottom: 42%;
                        left: -10%;
                        scale: 0;
                        opacity: 0;
                        background-color: $clr-white;
                        transition: all 0.3s ease;
                    }

                    &:hover::before {
                        scale: 1;
                        opacity: 1;
                    }
                }
            }
        }

        .menu-social-wrapper {
            display: grid;

            .social-link {
                position: relative;

                &::after {
                    position: absolute;
                    content: '';
                    width: 0;
                    height: 2px;
                    inset: auto 0 0 0;
                    margin: 0 auto;
                    transform-origin: right;
                    background-color: $clr-white;
                    transition: 0.3s ease-in-out;
                }

                &:hover::after {
                    width: 100%;
                }
            }

            div {
                @include flex-center;
                gap: 2rem;

                svg {
                    width: size('gaint-size') + 0.1rem;
                    height: size('gaint-size') + 0.1rem;
                    fill: $clr-white;

                    @include mq(mq3) {
                        width: size('gaint-size') + 0.5rem;
                        height: size('gaint-size') + 0.5rem;
                    }
                }
            }
        }
    }
}
