@use "../../utils" as *;
@use "../../base" as *;

.footer-seciton {
  position: relative;
  background-color: var(--color-dark);
  overflow: hidden;
  // min-height: 100vh;



  .footer-naviation {
    @include section;
    @include container;
    display: grid;
    padding-block: clamp(4.5rem, 10vw, 5rem);
  }
}
