@use "../../utils" as *;
@use "../../base" as *;

.footer-seciton {
  position: relative;
  background-color: $clr-black;
  font-family: $Inter;
  overflow: hidden;

  .footer-naviation {
    @include section;
    @include container;
    display: grid;
    padding-block: clamp(4.5rem, 10vw, 4.5rem);
  }
}
