@use '../../../utils' as *;

.contact-header {
    li.btn-text {
        &:nth-child(3) {
            .dot {
                opacity: 1;
                scale: 1;
            }
        }
    }

    .hamburger-btn {
        border: 1px solid $clr-border-light;
    }

    .menu-slide {
        border-left: 1px solid $clr-border-light;
        .rounded-div {
            border-left: 1px solid $clr-border-light;
        }
    }
}
